---
layout: default
---

<section class="home-section ">
  <div class="container">
    <div class="row" >
      <div class="col-1">
        <div id="profile">
          <img class="portrait" src="avatar.jpg">
          <div class="portrait-title">
            <h2  itemprop="name">Abderrahim LAKBIR</h2>
            <h3  itemprop="jobTitle">Embedded software engineer</h3>
          </div>
          <dev class="network-icon" aria-hidden="true">
            <a itemprop="sameAs" href="https://www.linkedin.com/in/lakbir-abderrahim/" target="_blank" rel="noopener"><i class="aaa fa fa-linkedin big-icon" style="font-size:40px;color:rgb(80, 62, 247);"></i></a>
            <a itemprop="sameAs" href="https://github.com/lakabd" target="_blank" rel="noopener"><i class="aaa fa fa-github big-icon" style="font-size:40px;color:rgb(80, 62, 247);"></i></a>
            <a itemprop="sameAs" href="mailto:abderrahim.lakbir@etu.univ-lyon1.fr"><i class="aaa fa fa-envelope big-icon" style="font-size:40px;color:rgb(80, 62, 247);"></i></a>
          </dev>
        </div>
      </div>
      <div class="col-2" itemprop="description">
        <h1>Biography</h1>
        <p>
          Abderrahim LAKBIR graduated as an embedded systems engineer from Grenoble Alpes university in 2020. He is now enrolled in a  2nd year masters degree in computer science at the university of Claud Bernard Lyon1.
          <br>
          —
          <br>
          Developing embedded systems is his passion and he aspires to make good digital products that delight and brings value to people.
        </p>
      </div>
      <div class="row">
        <div class="col-md-1">
          <h3 >Interests</h3>
          <ul class="ul-interests">
            <li>Real-time operating systems</li>
            <li>Embedded Linux</li>
            <li>Embedded systems security</li>
            <li>Electronic design</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h3 >Education</h3>
          <ul class="ul-edu fa-ul">
            <li>
              <i class="fa-li fa fa-graduation-cap"></i>
              <div class="description">
                <p class="course">M. in Complementary computer science skills, 2021</p>
                <p class="institution">Claud Bernard Lyon1 University (Lyon, France)</p>
              </div>
            </li>
            <li>
              <i class="fa-li fa fa-graduation-cap"></i>
              <div class="description">
                <p class="course">M. in Microelectronics and integration of real-time systems, 2020</p>
                <p class="institution">Grenoble Alpes University (Grenoble, France)</p>
              </div>
            </li>
            <li>
              <i class="fa-li fa fa-graduation-cap"></i>
              <div class="description">
                <p class="course">Three year degree (Licence) in Electonics, 2014</p>
                <p class="institution">Mohammed First University (Oujda, Morocco)</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="home">
  <h1 class="page-heading" style="font-size: 40px;">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="exerpts" style="font-size: 10px;" >{{ post.excerpt }}<a href="{{ post.url | prepend: site.baseurl }}">... more</a></p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
